
.container-outer {
 	display: flex;
	flex-flow: column;
	margin: 5vmin 5vmin 0;
	height: 98vmin;
	width: 90vw;
	overflow-y: auto;
}

.container-inner {
 	display: flex;
	flex-flow: column;
	height: 100%;
	margin-right: 3em;
}

h2 {
	margin-bottom: 2em;
	align-self: center;
}

.container-ordner {
	display: flex;
	align-items: center;
	justify-self: flex-start;
}

#footer {
	margin: 5vmin 5vmin 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 75%;
}

#filelist td:first-child {
	background-color: lightgray;
	width: 5%;
}

#filelist span:hover,
#totop:hover {
	cursor: pointer;
}

#chkAll {
	align-self: start;
	margin: .3rem 1rem 0 .5rem;
}

#chkAll, #filelist input[type=checkbox] {
	transform: scale(1.25);
}

#pause {
	display: flex;
	align-items: center;
	justify-content: center;
	background:
		rgba(0, 0, 0, 0.9)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

#pause .spinner-border {
	width: 5rem;
	height: 5rem;
	color: #fff;
}
