
body {
	overflow-y: hidden;
}

#container-outer {
 	display: flex;
	flex-flow: column;
	margin: 4vw 4vw 6vw 4vw;
	height: 90vh;
	overflow-y: auto;
}

#footer {
	position: absolute;
	bottom: 1vh;
	width: 90vw;
	height: 4vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 75%;
}

#placeholder {
	width: 36px;
	height: 36px;
}

#drag-drop-overlay {
	z-index: 1000;
 	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#drag-drop {
 	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.container-inner {
 	display: flex;
	flex-flow: column;
	height: 100%;
	width: 98%;
}

h2 {
	margin-bottom: 2em;
	align-self: center;
}

.container-ordner {
	display: flex;
	align-items: center;
	justify-self: flex-start;
}

#filelist td:first-child {
	background-color: lightgray;
	width: 5%;
}

#filelist span:hover,
#totop:hover {
	cursor: pointer;
}

#chkAll {
	align-self: start;
	margin: .3rem 1rem 0 .5rem;
}

#chkAll, #filelist input[type=checkbox] {
	transform: scale(1.25);
}

#pause {
	display: flex;
	align-items: center;
	justify-content: center;
	background:
		rgba(0, 0, 0, 0.9)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

#pause .spinner-border {
	width: 5rem;
	height: 5rem;
	color: #fff;
}

/*
::-webkit-scrollbar-button		The buttons on the scrollbar.
::-webkit-scrollbar-track		The draggable scrolling handle.
::-webkit-scrollbar-track-piece	The track of the scrollbar.
::-webkit-scrollbar-thumb		The part of the track not covered by the handle.
::-webkit-scrollbar-corner		The bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer				The draggable resizing handle that appears at the bottom corner of some elements.
*/
::-webkit-scrollbar {
	width: .25rem;
}
::-webkit-scrollbar-thumb {
	background: #000;
	border-radius: .125rem;
	/* border: 1px solid var(--fontcolor); */
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
